/* Untuk Tablet */
@media (max-width: 1000px) {
    .container {
        margin-right: 15px;
        margin-left: 15px;
    }
    /*#region extra1 (Beni)*/
    .extra1-wrapper{
        padding: 10px;
    }
    .flex-pelajaran{
        flex-wrap: wrap;
        padding: 10px 20px;
    }
    .box-pelajaran{
        width: 45%;
    }
    .box-pelajaran .fa{
        font-size: 50px;
    }
    .box-pelajaran p{
        height: 80px;
    }
    /*#endregion */

    /*#region extra2 (Diinggo)*/
    .profile-body {
        flex-wrap: wrap;
    }
    .profile-box {
        width: 50%;
    }
    .profile-box-text h5 {
        font-size: 18px;
    }
    .profile-box-text h6 {
        font-size: 14px;
        color: #eeeeee;
    }
    /*#endregion */

}

/* Untuk Smartphone */
@media (max-width: 670px) {
    /*#region extra1 (Beni)*/
    .extra1-wrapper{
        padding: 2px;
    }
    .flex-pelajaran{
        flex-direction:column;
    }
    .box-pelajaran{
        width: auto;
    }
    .box-pelajaran .fa{
        font-size: 35px;
    }
    .box-pelajaran p{
        height: 60px;
    }
    /*#endregion */

    /*#region extra2 (Diinggo)*/
    .profile-box {
        width: 100%;
        margin: 15px;
    }
    .profile-head {
        margin-right:30px;
        margin-left:30px;
    }
    /*#endregion */
}
