/* Untuk Tablet */
@media (max-width: 1000px) {
    /*#region extra1 (Beni)*/
    .extra1-wrapper{
        padding: 10px;
    }
    .flex-pelajaran{
        flex-wrap: wrap;
        padding: 10px 20px;
    }
    .box-pelajaran{
        width: 45%;
    }
    .box-pelajaran .fa{
        font-size: 50px;
    }
    .box-pelajaran p{
        height: 80px;
    }
    /*#endregion */

}

/* Untuk Smartphone */
@media (max-width: 670px) {
    /*#region extra1 (Beni)*/
    .extra1-wrapper{
        padding: 2px;
    }
    .flex-pelajaran{
        flex-direction:column;
    }
    .box-pelajaran{
        width: auto;
    }
    .box-pelajaran .fa{
        font-size: 35px;
    }
    .box-pelajaran p{
        height: 60px;
    }
    /*#endregion */
    
}
