* {
    box-sizing: border-box;
  } 
.top-wrapper {
  text-align: right;
  background-image: url(D:\File Dian\DTS Kominfo\New folder\DTS_Progate_C11\Gambar\Main Background.jpg);
  background-position: left;
}